body {
    background: #F5E8E4;
}

p,
h1,
h2,
h3 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

p {
    color: #3D3C42
}

h1,
h2,
h3 {
    background-color: #411530;
    color: #D1512D;
}

.image {
    text-align: center;
    width: auto;
    height: 400;
}

button {
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.burgundy {
    background-color: #411530;
    color: #D1512D;
}

.orange {
    background-color: #D1512D;
    color: #411530;
}

div.list-container {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
    font-family: Verdana, Arial, sans-serif;
    color:#3D3C42
}